<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DiceGame - Regles du jeu</title>
</head>
<body>
Les règles sont simples : vous avez 10 lancers de 2 dés. A chaque lancer, si la somme des valeurs des 2 dès est égale à
7, votre score augmente de 10 points. A la fin de la partie, vous pouvez si vous le souhaiter enregistrer votre score.
Bonne chance
<br>
<a href="/"><button>Retour à l'accueil</button></a>
<br>
<a href="/game"><button>Lancer une partie</button></a>
<br>
<a href="/highscore"><button>Voir le HighScore</button></a>
</body>
</html>